/* CSS Reset */

*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

/* General */

body{
    background-color: var(--var-col-lightgray);
    font-family: "Montserrat", Helvetica, sans-serif;
    
    li{
        list-style: none;
    }

    img{
        max-width: 100%;
    }
}
/* Utilities */

.container{
    width: 720px;
    max-width: 90%;
    margin: 0 auto;
}

:root{
    --var-col-white: #fff;
    --var-col-purple: #7c69a4;
    --var-col-lightgray: #f6f5f3;
    --var-col-yellow: #ff9614;
    --var-col-gray: #a3a3a2;
}

.d-flex-col{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px 30px;
    padding-bottom: 40px;
    
}

/* Mobile First */
@media screen and (max-width: 767px){

    
    header{
        background-color: var(--var-col-white);
        
        h1{
            color: var(--var-col-yellow);
            font-family: "Nerko One", cursive;
            font-size: 3rem;
            margin: 0 auto;
            text-align: center;
            padding: 20px;
            text-shadow: 2px 2px 0 var(--var-col-gray);
        }
    }
}

.container{
    p{
        font-size: 1.5rem;
        color: var(--var-col-gray);
        padding-top: 10px;
    }

    h3{
        font-size: 2rem;
        color: var(--var-col-purple);
        padding: 10px 0;
        display: inline-block;
    }

    .mobile-d-none{
        display: none;
    }
    
    
}

.ingredients-recipe{
    background-color: var(--var-col-white);
    box-shadow: 0 0 8px var(--var-col-gray);
}

h5{
    font-size: 1.3rem;
    margin: 20px 30px;
}
/* Tablet Mode */

@media screen and (min-width: 768px){

    
    header{
        background-color: var(--var-col-white);
        
        h1{
            color: var(--var-col-yellow);
            font-family: "Nerko One", cursive;
            font-size: 3rem;
            margin: 0 20px;
            font-style: italic;
            text-shadow: 2px 2px 0 var(--var-col-gray);
        }
    }
}

/* Desktop Mode */

@media screen and (min-width: 992px){

    
    header{
        background-color: var(--var-col-white);
        
        h1{
            color: var(--var-col-yellow);
            font-family: "Nerko One", cursive;
            font-size: 3rem;
            text-shadow: 2px 2px 0 var(--var-col-gray);
        }
    }
}
