/* CSS Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General */

body {
  background-color: var(--var-col-lightgray);
  font-family: "Montserrat", Helvetica, sans-serif;

  li {
    list-style: none;
  }

  img {
    max-width: 100%;
  }
}
/* Utilities */

.container {
  width: 720px;
  max-width: 90%;
  margin: 0 auto;
}

:root {
  --var-col-white: #fff;
  --var-col-purple: #7c69a4;
  --var-col-lightgray: #f6f5f3;
  --var-col-orange: #ff9614;
  --var-col-gray: #a3a3a2;
}

.d-flex-start {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  
.col {
  width: auto;
  flex-basis: auto;
  padding: 1rem;
}

.col-4 {
  width: calc(100% / 12 * 4);
}

.col-8 {
  width: calc(100% / 12 * 8);
}

.col-12 {
  width: 100%;
}

/* Mobile First */
@media screen and (max-width: 767px) {
  header {
    background-color: var(--var-col-white);

    h1 {
      color: var(--var-col-orange);
      font-family: "Nerko One", cursive;
      font-size: 3rem;
      margin: 0 auto;
      text-align: center;
      padding: 20px;
      text-shadow: 2px 2px 0 var(--var-col-gray);
    }
  }
  .container {
    .recipe p {
      font-size: 1.5rem;
      color: var(--var-col-gray);
      padding-top: 10px;
    }
  
    h3 {
      font-size: 2rem;
      color: var(--var-col-purple);
      padding: 10px 0;
      display: inline-block;
    }
  
    .name-recipe>.mobile-d-none {
      display: none;
    }
  }
  
.tiramisù-card{
    margin-bottom: 50px auto;
}

  .recipe-ingredients {
    background-color: var(--var-col-white);
    box-shadow: 0 0 8px var(--var-col-gray);
    margin-bottom: 30px;
  
    h5 {
      padding: 20px 40px;
    }
  
    .col-12 {
      padding: 10px 20px;
    }
  
    .rest {
      padding-bottom: 20px;
    }
  }
  
  h5 {
    font-size: 1.3rem;
    margin: 0;
    padding: 20px 0;
  }
  
  .tiramisù-img {
    margin: -5px 0;
  }
  
  .d-flex {
  
      span{
          background-color: var(--var-col-white);
          margin: 20px auto;
          padding: 10px 15px;
          border-radius: 25%;
      }
  
    li span>h6 {
      display: none;
  
    }
  }

  .icons{
    margin-bottom: 50px;
  }

  .banner{
    padding: 30px 0;
    display: none;
  }

  .presentation-title::after{
    content: '';
    display: block;
    width: 150px;
    height: 2px;
    background: var(--var-col-orange);
    margin: 50px 0;
  }
}

/* Tablet Mode */

@media screen and (min-width: 768px) {

    body{
        img{
        width: 100%;
        }
    }

    .col-md {
        width: auto;
        flex-basis: auto;
        padding: 1rem;
      }
    
      .col-md-4 {
        width: calc(100% / 12 * 4);
      }
    
      .col-md-8 {
        width: calc(100% / 12 * 8);
      }
    
      .col-md-12 {
        width: 100%;
      }
  header {
    background-color: var(--var-col-white);

    h1 {
      color: var(--var-col-orange);
      font-family: "Nerko One", cursive;
      font-size: 3rem;
      margin: 0 20px;
      font-style: italic;
      text-shadow: 2px 2px 0 var(--var-col-gray);
    }
  }

  .container {
    width: 960px;
    max-width: 85%;
    margin: 0 auto;
  }

  .container {
     .recipe p {
      font-size: 1.5rem;
      color: var(--var-col-gray);
      padding-top: 10px;
    }
  
    h3 {
      font-size: 2rem;
      color: var(--var-col-purple);
      padding: 10px 0;
      display: inline-block;
    }
  
    .name-recipe>.mobile-d-none {
      display: inline-block;
    }
  }
  
  .recipe-ingredients {
    background-color: var(--var-col-white);
    box-shadow: 0 0 8px var(--var-col-gray);
    margin-bottom: 30px;
  
    h5 {
      padding: 20px 40px;
    }
  
    .col-12 {
      padding: 10px 20px;
    }
  
    .rest {
      padding-bottom: 20px;
    }
  }
  
  h5 {
    font-size: 1.3rem;
    margin: 0;
    padding: 20px 0;
  }
  
  .tiramisù-img {
    margin: -5px 0;
  }
  
  .d-flex {
  
      span{
          background-color: var(--var-col-white);
          margin: 20px auto;
          padding: 10px 30px;
          border-radius: 30%;
      }
  
    li span>h6 {
      display: none;
  
    }
  }

  .banner{
    padding: 30px 0;
    display: block;
  }

  .presentation-title::after{
    content: '';
    display: block;
    width: 150px;
    height: 2px;
    background: var(--var-col-orange);
    margin: 50px 0;
  }

  .float-img{
    float: left;
    width: 300px;
    padding: 0 10px;
  }

  p{
    font-size: 0.8rem;
  }
}


/* Desktop Mode */

@media screen and (min-width: 992px) {
  header {

    body{
        img{
            max-width: 100%;
        }
    }
    background-color: var(--var-col-white);

    h1 {
      color: var(--var-col-orange);
      font-family: "Nerko One", cursive;
      font-size: 3rem;
      text-shadow: 2px 2px 0 var(--var-col-gray);
    }
  }

  .col-lg {
    width: auto;
    flex-basis: auto;
    padding: 1rem;
  }

  .col-lg-4 {
    width: calc(100% / 12 * 4);
  }

  .col-lg-8 {
    width: calc(100% / 12 * 8);
  }

  .col-lg-12 {
    width: 100%;
  }

  .container {
    width: 1200px;
    max-width: 80%;
    margin: 0 auto;
  }
  .container {
    .recipe p {
      font-size: 1.5rem;
      color: var(--var-col-gray);
      padding-top: 10px;
    }
  
    h3 {
      font-size: 2rem;
      color: var(--var-col-purple);
      padding: 10px 0;
      display: inline-block;
    }
  
    .name-recipe>.mobile-d-none {
      display: inline-block;
    }
  }
  
  .recipe-ingredients {
    background-color: var(--var-col-white);
    box-shadow: 0 0 8px var(--var-col-gray);
    margin-top: 25px;
    padding: 25px;
  
    h5 {
      padding: 20px 40px 5px;
    }
  
    .col-12 {
      padding: 5px;
    }
  
    .rest {
      padding-bottom: 25px;
    }
  }
  
  h5 {
    font-size: 1.3rem;
    margin: 0;
    padding: 20px 0;
  }
  
  .tiramisù-img {
    margin: -5px 0;
  }
  
  .d-flex {
  
      span{
        display: inline-block;
          background-color: var(--var-col-white);
          margin: 20px auto;
          padding: 15px 20px;
          border-radius: 30px;
          width: auto;
          vertical-align: middle;
      }
  
    li span>h6 {
      display: inline-block;
  
    }
  }

  .banner{
    padding: 30px 0;
    display: block;
  }

  .presentation-title::after{
    content: '';
    display: block;
    width: 150px;
    height: 2px;
    background: var(--var-col-orange);
    margin: 50px 0;
  }
}
